RewriteEngine On

# CORS headers handled by PHP in index.php
# Handle API routing, return all requests to index.php if not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]